@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #023e8a url('./img/jonas-allert-ICp-goo2VMI-unsplash.jpg')
    no-repeat center center/ cover;

  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  font-size: 3.7rem;
  margin-top: 100px;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid black;
  background: rgba(22, 22, 22, 0.63);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #020416;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #fff 0%,
    #fff 3%,
    #55b7a4 5%,
    #4ca493 40%,
    #fff 42%,
    #fff 58%,
    #336d62 60%,
    #2a5b52 95%,
    #fff 98%,
    #fff 98%
  );
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  border: 1px solid #333;
  position: absolute;
  top: -10px;
  left: -10px;
}

.pointer {
  background-color: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: block; /* because it's a span(span are in-line by default)*/
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

/* .pointer-container.animation {      // I don't know how to change this class in JS
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
} */

.start {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 290px;
}

.start-btn {
  padding: 20px 30px;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
}

.start-btn:hover {
  background-color: rgb(164, 252, 255);
  transform: scale(0.99);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.25);
  }
  to {
    transform: scale(1);
  }
}
